<div class="page-header"><h1>Create new Incident Type</h1></div>
<form name="form">
  <fieldset>
    <div class="form-group">
      <label for="val">Name</label>
      <input id="val" type="text" class="form-control" data-ng-model="incidentType.name" placeholder="Name" required /><br />
        <label for="val">Description</label>
        <input id="val" type="text" class="form-control" data-ng-model="incidentType.description" placeholder="Description" required /><br />
       <button class="btn btn-primary" data-ng-disabled="form.$invalid" data-ng-click="createIncidentType(incidentType)">Create</button>
    </div>
  </fieldset>
</form>
