<div class="page-header"><h1>{{ powerUnit.referenceId || powerUnit.id }}</h1></div>

        <h3>Components</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Type</th>
        <th>State</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="componentType in componentTypes" >
        <td>{{componentType.name}}</td>
        <td> <span ng-hide="editable">{{equipmentState.residuallifespan.span || 'Not defined'}}</span>
        <input ng-show="editable && equipmentState.residuallifespan !== null" type="number" ng-model="equipmentState.residuallifespan.span">
        <input ng-show="editable && equipmentState.residuallifespan === null" type="number" ng-model="newspan">
        </td>
        <td>
            <button class="btn btn-primary" ng-hide="editable" data-ng-click="editable = true;">Edit</button>
            <button class="btn btn-primary" ng-show="editable" data-ng-click="editable = updateResidualLifeSpan(newspan, equipmentState)">Update</button>
        </td>
    </tr>

    </tbody>
</table>


<h3>Repairs scenarios by incident type</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Incident type</th>
        <th>Span</th>
        <th>Cost</th>
        <th>Probability</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="incidentType in incidentTypes" >
        <td>{{incidentType.name}}</td>
        <td> <span ng-hide="editable">{{incidentType.repair.span || 'Not defined'}}</span>
            <input ng-show="editable && incidentType.repair !== null" type="number" ng-model="incidentType.repair.span">
            <input ng-show="editable && incidentType.repair === null" type="number" ng-model="newobject.span">
        </td>
        <td> <span ng-hide="editable">{{incidentType.repair.cost || 'Not defined'}}</span>
            <input ng-show="editable && incidentType.repair !== null" type="number" ng-model="incidentType.repair.cost">
            <input ng-show="editable && incidentType.repair === null" type="number" ng-model="newobject.cost">
        </td>
        <td> <span ng-hide="editable">{{incidentType.repair.probability || 'Not defined'}}</span>
            <input ng-show="editable && incidentType.repair !== null" type="number" ng-model="incidentType.repair.probability">
            <input ng-show="editable && incidentType.repair === null" type="number" ng-model="newobject.probability">
        </td>
        <td>
            <button class="btn btn-primary" ng-hide="editable" data-ng-click="editable = true;">Edit</button>
            <button class="btn btn-primary" ng-show="editable" data-ng-click="editable = updateRepair(newobject, incidentType)">Update</button>
        </td>
    </tr>

    </tbody>
</table>
